<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		<!-- <img class="retina" src="./frames/f1.jpg" inline> -->
		<img id="dots" class="retina" src="./images/dots.png" inline>
		<img id="t1a" class="retina" src="./images/t1a.png" inline>
		<img id="t1b" class="retina" src="./images/t1b.png" inline>
		<img id="t2" class="retina" src="./images/t2.png" inline>
		<img id="learn" class="retina" src="./images/learn.png" inline>
		<div id="line" >
			<img class="retina" src="./images/line.png" inline>
		</div>
		<div id="arrow" >
			<img class="retina" src="./images/arrow.png" inline>	
		</div>
		
		<img id="logo" class="retina" src="./images/logo.png" inline>
	</div>
	
</div>