

@import '../../../_common/styles/common.scss';


#learn{
	// @include pos-scale(0, 57, .5);
}

.frame1 {
	// opacity: 1;
}

$y: 19;

#arrow{
	width: 30px;
	height: 100%;
	@include pos(124, -15+$y);
	

	overflow: hidden;
	img{
		@include pos-scale(-91, 347, .5);
	}
}

#line{
	width: 123px;
	height: 100%;
	@include pos(31, -14+$y);
	// background-color: rgba(255,0,0,.5);
	// background-color: rgba(255,0,0, .5);
	overflow: hidden;
	img{
		@include pos-scale(2, 346, .5);
	}
}



#banner{
	font-size: 20px;
	background-color: black;
	width: 320px;
	height: 480px;
}

